<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title><%= pageTitle %></title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Meow+Script&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style.css"> 
        <script type="text/javascript" src="/dat.gui.min.js"></script>

        <script>
            // Google Analytics script
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-105392568-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src="https://www.google-analytics.com/analytics.js"></script>
    </head>
    <body>
        <canvas id="fluid-canvas"></canvas>
        <div id="website-content">
            <%- include('partials/header') %> 

            <main>
                <%- include('sections/hero', { yourName: yourName }) %>
                <%- include('sections/about') %>
                <%- include('sections/projects') %>
                <%- include('sections/contact') %>
                <%- include('sections/gallery') %>
            </main>

            <%- include('partials/footer') %>
        </div>
        <script src="/script.js"></script> 
        <script src="/fluid-simulation.js"></script>
    </body>
</html>